
@media (prefers-color-scheme: light) {

    :root {
        /**
         * If a --background-color-primary is set, use it, otherwise
         * default to black
         */
        --background-color-default: var(--background-color-primary, white);
    }

}

@media (prefers-color-scheme: dark) {

    :root {
        /**
         * If a --background-color-primary is set, use it, otherwise
         * default to black
         */
        --background-color-default: var(--background-color-primary, black);
    }

}

.hello-universe-global-navigation {
    font-size: 1.7rem;
    /*
     * This stylesheet relies on the --background-color-primary
     * variable being set by another css file, if
     * --background-color-primary is not set then background-color
     * will default to `--background-color-default` which is set
     * by this stylesheet.
     */
    background: var(--background-color-default);
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 20000;
}

.hello-universe-global-navigation a {
    text-decoration: none;
    font-size: calc(var(--primary-font-size, 1rem) * 0.87);
}

 /* unvisited link */
.hello-universe-global-navigation a:visited,
.hello-universe-global-navigation a:link {
    color: #d7d5d5;
}

/* mouse over link */
.hello-universe-global-navigation a:hover {
    color: #d5d7d7;
    border-bottom: 0.4rem solid var(--background-color-default);
    margin-bottom: -0.4rem;
    border-radius: 0.5rem;
}

/* selected link */
.hello-universe-global-navigation a:active {
    color: #d7d5d6;
}
