.collapse-content-trigger {
  background-color: #000000;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border: 0.27rem solid transparent;
}

.active, .collapse-content-trigger:hover {
    border: 0.27rem solid gray;
    border-radius: 0.27rem;
}

.collapsible-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

