
body {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

.circles li {
    font-family: monospace;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 1.8rem #fbfbfb,
                 0 0 1.10rem #fafafa,
                 0 0 1.12rem #fcfcfc,
                 0 0 1.14rem #fefefe,
                 0 0 1.16rem #eaeaea,
                 0 0 1.18rem #ececec;
}

.roady-ui-main-content {
    text-align: justify;
    text-justify: inter-word;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-thickness: 0.007rem;
    text-underline-offset: 0.5rem;
}

