
body {
    letter-spacing: 0.1rem;
    font-size: 1rem;
}

h1, h2, h3, h4 {
    letter-spacing: 0.7rem;
}


.roady-ui-pre-header {

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration-line: underline;
        text-decoration-style: double;
        text-decoration-thickness: 0.1rem;
        text-underline-offset: 0.5rem;
    }

}

.roady-ui-header {
    font-size: 1.5rem;
    text-align: center;

    h1, h2, h3, h4 {
        text-align: center;
    }

}

.circles li {
    font-family: monospace;
    font-size: 2.17rem;
}

.roady-ui-main-content {
    text-align: justify;
    text-justify: inter-word;
}

