
body {
    padding: 1vw;
    margin: 0 27vw;
}

.roady-ui-pre-header {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.roady-ui-pre-header {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    overflow: auto;
    position: sticky;
    top: 1.7svh;
    z-index: 5000;
    menu {
        display: grid;
        grid-auto-flow: column;
    }

    li {
        padding: 1rem;
    }
}

.roady-ui-main-content {
    img,
    picture {
        margin-bottom: 3rem;
    }
}

.roady-ui-content-wrapper {
    padding: 3.5rem;
}

.circles{
    position: absolute;
    top: 0;
    z-index: -2000;
    left: 0;
}

.circles li {
    bottom: -150px;
    display: block;
    list-style: none;
    opacity: 0;
    padding: 1.7rem;
    position: absolute;
}

.circles li:nth-child(1){
    left: 25%;
}

.circles li:nth-child(2){
    left: 10%;
}

.circles li:nth-child(3){
    left: 70%;
}

.circles li:nth-child(4){
    left: 40%;
}

.circles li:nth-child(5){
    left: 65%;
}

.circles li:nth-child(6){
    left: 75%;
}

.circles li:nth-child(7){
    left: 35%;
}

.circles li:nth-child(8){
    left: 50%;
}

.circles li:nth-child(9){
    left: 20%;
}

.circles li:nth-child(10){
    left: 85%;
}

.roady-ui-pre-header,
.roady-ui-main-content {
    opacity: 87%;
}

@media only screen and (max-width: 1425px) {

    .roady-ui-pre-header {
        max-height: 10svh;
        menu {
            display: grid;
            grid-auto-flow: row;
        }

    }

}
