        /**
         * Common dimensions | i.e., width, height, margin, padding
         */
        .common-body {
            margin: 0;
            padding: 0;
        }

        .common-page {
            width: 30em;
            margin: 0 auto;
            padding: 1em;
        }
