
:root {
  --font-family-primary: monospace;
  --font-family-secondary: arial;
  --font-family-accent: georgia;
}


@media (prefers-color-scheme: light) {

    :root {
      --background-color-primary: white;
      --background-color-secondary: blue;
      --background-color-alt-1: red;
      --background-color-alt-2: green;
      --font-color-primary: black;
    }

}

@media (prefers-color-scheme: dark) {

    :root {
      --background-color-primary: #171818;
      --background-color-secondary: #187796;
      --background-color-alt-1: #29cde2;
      --background-color-alt-2: #ec5b17;
      --background-color-alt-3: #303232;
      --font-color-primary: white;
    }

}

body {
    font-family: var(--font-family-primary);
    color: var(--font-color-primary);
    background-color: var(--background-color-primary);
    margin: 1.7rem 5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-accent);
}

header {
    background-color: var(--background-color-secondary);
}

main {
    background-color: var(--background-color-alt-2);
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    font-family: var(--ff-secondary);
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    padding: 2rem 1rem;
}

footer {
    background-color: var(--background-color-alt-1);
}

.demo-image {
    padding: 1rem;
}

main .demo-image {
    border-radius: 50%;
}


img, picture {
    max-width: 32svh;
}
