:root {
  --ff-primary: monospace;
  --ff-secondary: arial;
  --ff-accent: georgia;
}

body {
    background: url('http://localhost:8080/modules/hello-multiverse/assets/images/HelloModuleBg.webp');
    color: #35a7e5;
    padding: 3rem;
    font-family: var(--ff-primary);
}

.roady-ui-named-position-a,
.roady-ui-named-position-b,
.roady-ui-named-position-c,
.roady-ui-named-position-d,
.roady-ui-named-position-e,
.roady-ui-named-position-f,
.roady-ui-named-position-g {
    background: #080808;
    padding: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #a44918;
    font-family: var(--ff-accent);
}

.roady-ui-named-position-a {
}

.roady-ui-named-position-b {
}

.roady-ui-named-position-c {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    font-family: var(--ff-secondary);
}

img {
    margin-top: 2rem;
    border: 2px solid white;
    border-radius: 0.5rem;
}

.demo-image {
    width: 31.5%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

@media (min-width: 80rem) {

    .roady-ui-named-position-c {
        grid-auto-flow: column;
        background: rgb(8,8,8);
        background: linear-gradient(172deg, rgba(8,8,8,1) 0%, rgba(10,16,23,1) 87%);
    }

    .demo-image {
        width: 100%;
    }

}

.roady-ui-named-position-c > * {
    background: #020202;
    padding: 3rem;
    border: 1px solid orange;
}

.roady-ui-named-position-d {
}

.roady-ui-named-position-e {
}

.roady-ui-named-position-f {
}

.roady-ui-named-position-g {
}


