






main {
    background-color: var(--background-color-alt-2);
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    padding: 2rem 1rem;
}

footer {
    background-color: var(--background-color-alt-1);
}

.demo-image {
    padding: 1rem;
}

main .demo-image {
    border-radius: 50%;
}


img, picture {
    max-width: 32svh;
}
