
html {
    font-size: 18px;
    font-family: monospace;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-style: bold;
    padding: .1em 5em;
    margin-right: 1em;
    color:#1AA7E5;
    background: #000000;
    border-radius: 1em;
    display: inline-block;
}

a:hover {
    text-decoration: overline;
    font-style: none;
    color:#ffffff;
    background: #1AA7E5;
}

p {
    font-size: 1.2em;
    padding: 1em;
    background: #1AA7E5;
    color: #ffffff;
}

.menu {
    padding: 1em;
    background: #E55E1A;
}
