/*
 * globalAnimations.css
 * animation-*, @keyframes
 */

.output {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes fadeIn {
    0%   {opacity: 0; }
    100%   {opacity: 1; }
}
