
.animate-logo {
    animation-name: animateLogo;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes animateLogo {
    0%   {opacity: 0; margin-bottom: 270em; margin-left: 17em; }
    42%  {opacity: 0; margin-bottom: 53em; }
    87%  {opacity: .17; }
    100% {opacity: 1; margin-bottom: 2em; margin-left: 0; }
}
