/**
 * backgrounds.css
 * background-*
 */
body {
    background-image: linear-gradient(172deg, #ffffff, #dddddd, #fffcf8, #f8f8ff, #0d5985, #85370d, #090909, #070707, #050505, #030303, #020202, #000000), linear-gradient(90deg, #000000, #030303);
    background-repeat: no-repeat, repeat;
    background-color: #ffffff;
}

.output, .group-odd {
    background-image: linear-gradient(172deg, #010101, #050505, #333333, #050505, #010101, #010101);
    background-repeat: repeat;
    background-color: #000000;
}

.group-even {
    background-image: linear-gradient(172deg, #555555, #090909, #010101, #090909, #555555);
    background-repeat: repeat;
    background-color: #000000;
}

.component-info-output-preview {
    background: #087bff;
    background-image: linear-gradient(172deg, #087bff, #3493e6, #042852, #3493e6, #087bff);
    background-repeat: repeat;
    background-color: #087bff;

}
