/*
 * animations.css
 * animation-*, @keyframes
 */

.animate-logo {
    animation-name: animateLogo;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes animateLogo {
    0%   {opacity: 0; margin: 0 auto; margin-bottom: 270em;}
    100% {opacity: 1; margin: 0 auto;}
}
