/*
 * rendering.css
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #030303;
    scroll-behavior: smooth;
}

.response-assigned-output {
    background: #030303;
}

.logo {
    height: 7em;
    overflow: hidden;
}

.main-menu a {
    display: block;
}

.main-menu-links {
    list-style-type: none;
}

.main-menu {
    width: 8em; /** width MUST match output left and right margin */
    height: 100%;
    position: fixed;
}

.output {
    background: #1d1717;
    border: .123em solid #ffffff;
    border-radius: .7em;
    overflow: auto;
    margin: 0.2em 8em; /** left and right margin MUST match main-menu-links "width" or menu will cover output **/
}

.component-info {
    overflow: auto;
}

.component-info-output-preview {
    background: white;
    border: .2em solid #087bff;
    border-radius: 3em;
    overflow: auto;
}

.main-menu {
    padding: 0 1em;
}

.output {
    padding: 1.3em 1em;
}

.output h1 {
    margin-bottom: .3em;
}

.component-info, .component-info-output-preview {
    padding: 1.3em;
}

.component-info-output-preview {
    margin-top: 2em;
}


.component-info-table {
    margin-top: 1em;
}


