html {
    color: #087bff;
}

.default-text-color {
    color: #087bff;
}

.highlight-text-color {
    color: #ff6708;
}

.light-highlight-text-color {
    color: #e67935;
}

.warning-text-color {
    color: #ffa408;
}

.error-text-color {
    color: #ff2908;
}

.success-text-color {
    color: #08ff8c;
}

.notice-text-color {
    color: #4a08ff;
}

.important-text-color, .component-info-table {
    color: #c508ff;
}

.code-text-color, .component-info-table-cell-odd {
    color: #42ff08;
}

.note-text-color, .component-info-table-cell-even {
    color: #353842;
}

.main-menu a {
    color: #ff6708;
}

.main-menu a:hover {
    color: #e67935;
}

.black-text-color, .component-info-output-preview {
    color: #000000;
}

.link-text-color, .output a {
    color: #ff6708;
}

.link-hover-text-color, .output a:hover {
    color: #c508ff;
}

.white-text-color, .logo a, .overview-title {
    color: #ffffff;
}

