/*
 * textStyles.css
 * font-*, text-*, word-*, letter-*
 */

html {
    font-size: 17px;
    font-family: 'Audiowide';
}

a {
    text-decoration: none;
}

caption {
    font-size: 2em;
}

.font-concert-one {
    font-family: 'Concert One';
}

.font-audio-wide {
    font-family: 'Audiowide';
}

.logo {
    text-align: center;
}

.logo-description {
    font-size: .7em;
    font-style: italic;
    letter-spacing: 1.07em;
    letter-spacing: 1em;
}

.main-menu a:hover {
    text-decoration: underline overline;
}

.output a {
    text-decoration: none;
}

.overview-title {
    text-align: center;
}

.component-info-table-cell {
    font-size: .7em;
}

.request-info-header {
    text-decoration: underline overline;
}

.component-info-output-preview {
    font-size: .7em;
}

.white-text-color, .component-info-output-preview, .logo a, .overview-title, .component-info-table, .request-info-header {
    text-shadow: 2px 2px 4px #000000;
}


.default-text-color, html, .component-info-table-cell-even {
    text-shadow: .1em .1em 0 #1f1d1b;
}
