        /**
         * Common background colors | i.e. background
         */
        .common-body, .common-main-menu, input[type=submit]:hover {
            background: #6d0707;
        }

        .common-page-container {
           background: #ffffff;
        }

        .common-form-container {
            background: #CCCCCC;
        }

        .common-banner-container {
            background: #fbd27d;
        }

        .common-content-separator {
            background: #6d0707;
        }

        @media only screen and (min-width: 600px) {
            .common-page-container {
                background: blue;
            }
        }

        @media only screen and (min-width: 768px) {
            .common-page-container {
                background: purple;
            }
        }

