        /**
         * Common background colors | i.e. background
         */
        .common-body {
            background: #6d0707;
        }

        .common-content-container {
            background: #ffffff;
        }

        .common-main-menu {
            background: #fbd27d;
        }