        /**
         * Common dimensions | i.e., width, height
         */
        .common-content-container, .created-submission-preview-container, .common-header-container {
            width: 100%;
        }

        .common-header-logo-w387-h75 {
            width: 56%;
            height: auto;
        }

