        /**
         * Common rendering | i.e., margin, padding, float, clear, opacity
         */
        * {
            margin: 0;
            padding: 0;
            box-decoration-break: clone;
            box-sizing: border-box;
        }

        .common-page-container {
            padding-top: 6em;
        }

        .float-left {
            float: left;
        }

        .float-right {
            float: right;
        }

        .clear-float-left {
            clear: left;
        }

        .clear-float-right {
            clear: right;
        }

        .clear-float-both {
            clear: both;
        }

        .common-main-menu {
            padding: .67em 0;
            width: 100%;
        }

        .common-banner-container {
            padding: .73em;
        }

        .common-main-menu-phone {
            margin: 0 1.3em 0 17.7em;
        }

        .common-main-menu-contact {
            margin: 0 21.69em 0 0;
        }

        .common-content-container {
            padding: 3em 16.5em 0 14.37em;
            line-height: 2em;
        }

        .common-header-container {
            position: fixed;
        }

        .common-header-logo-w387-h75 {
            margin: .23em 0 0 1em;
        }

        h1 {
            margin: 0 0 1.5em 0;
        }

        .common-indent-paragraph {
            margin-left: 3em;
        }

        .common-space-below {
            margin-bottom: 2em;
        }

        .common-space-left {
            margin-left: 1em;
        }

        .common-content-separator {
            width: 80%;
            height: 1px;
            background: #6d0707;
            margin: 2em auto;
        }

        .common-form-container, .created-submission-preview-container {
            margin: 0 auto;
            padding: 1em 0 0 6em;
        }
