        /**
         * Common fonts | i.e., font-size, font-style, font-family, font-* etc...
         */
        html {
            font-family: 'Quattrocento Sans', Helvetica,Arial,Lucida,sans-serif;
            font-size: 18px;
        }

        h1 {
            font-size: 1.3em;
            font-weight: bolder;
            font-style: italic;
        }

        .common-body {
            font-size: 1em;
        }

        .common-content-container {
            font-size: 1em;
        }

        .common-default-text-color, a:hover {
            color: #b5abbd;
        }

        .common-highlight-text-color, a, a:visited {
            color: #6d0707;
        }

        .common-light-text-color, {
            color: #666666;
        }

        .common-dark-text-color, .created-submission-preview-container {
            color: #333333;
        }

        .common-error-text-color {
            color: #ff4f00;
        }

        .common-warning-text-color {
            color: #fbd27d;
        }

        .common-notice-text-color {
            color: #00b0ff;
        }

        .common-contact-menu, .common-contact-menu a, .common-contact-menu a:visited {
            color: #ffffff;
            font-size: .83em;
            font-weight: bolder;
        }

        .common-center-text {
            text-align: center;
        }

        a, a:visited, a:active, a:hover, a:link {
            text-decoration: none;
        }

