/**
 * Common fonts | i.e., font-size, font-style, font-family, font-* etc...
 * @todo rename this file to text-common.css
 */
html {
    font-family: monospace;
    font-size: 18px;
}

.common-body {
    font-size: 1em;
}

.common-content-container {
    font-size: 1em;
}

.common-default-text-color, a:hover {
    color: #00b2de;
}

.common-highlight-text-color, a, a:visited {
    color: #e04300;
}

.common-light-text-color, .created-submission-preview-container {
    color: #8300db;
}

.common-dark-text-color, .created-submission-preview-submission-output {
    color: #1600e0;
}

.common-error-text-color {
    color: #e00b00;
}

.common-warning-text-color {
    color: #e07b00;
}

.common-notice-text-color, .created-submission-preview-message {
    color: #c75828;
}

